body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    margin-top: auto;
}

.hr {
    flex: 0 0 auto;
}

header {
    display: flex;
    justify-content: center;
    margin: 35px 0 45px;
}

h1 {
    margin: 0;
}

body:not(#home-page) section,
#article-content {
    padding: 40px 75px 50px 75px;
}

/* card */
.card {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.card-content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image img {
    display: block;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.card-title {
    display: inline;
    color: #343D42;
    font-size: 2.8rem;
    position: relative;
    /* border-bottom: 4px solid rgba(224, 61, 61, 0.5); */
}

.card-title:after {
    content: '';
    position: absolute;
    width: 70%;
    left: 0;
    bottom: 0px;
    height: 5px;
    background-color: rgba(224, 61, 61, 0.5);
}

.card-description {
    margin: 0;
    /* text-align: center; */
    color: rgb(136, 152, 163);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

/* card end */

.under-construction-info {
    font-size: 1.3rem;
}

.under-construction-info a {
    font-weight: bold;
    transition-duration: 0.3s;
}

.under-construction-info a:hover {
    color: rgb(240, 40, 40);
}

div.hr {
    width: 100%;
}

.category-name {
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 6px;
}

.category-name:first-child {
    margin-top: 30px;
}

.resource {
    text-decoration: none;
    position: relative;
    left: 0;
    transition-duration: 0.3s;
}

.resource:hover {
    left: 10px;
}

.resource-title {
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 0;
}

.resource-title span {
    border-bottom: 4px solid rgba(224, 61, 61, 0.5);
}

.resource-description {
    font-size: 1.15rem;
    text-align: left;
    margin-top: 15px;
}

/* article */

#article-content,
#sources {
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
}

#article-content {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 0;
}

#article-content p {
    line-height: 140%;
}

#article-content img {
    max-width: 100%;
    max-height: 650px;
}

#article-content hr {
    border: 0;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background: #e1e1e5;
    display: block;
}

#article-content h2,
#article-content h3,
#article-content h4,
#article-content h5 {
    margin-top: 30px;
    margin-bottom: 10px;
}

#sources .category-name {
    margin-top: 0;
}

#sources a {
    transition-duration: 0.3s;
}

#sources a:hover {
    color: rgb(255, 71, 71);
}

@media all and (max-width: 900px) {
    header {
        display: block;
        margin: 20px 0 45px;
    }
    
    .card-content {
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
    }
    
    .card-image img {
        margin: 0 auto;
    }
    
    .card-title {
        line-height: 1;
    }

    .card-title:after {
        display: none;
    }

    .card-description {
        margin-top: 10px;
    }
}

@media all and (max-width: 600px) {
    .card {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* .card-title {
        word-break: break-all;
        white-space: normal;
    } */

    body:not(#home-page) section,
    #article-content {
        padding: 30px 40px 40px 40px;
    }

    .resource-title {
        margin-top: 20px;
    }

    #article-content,
    #sources {
        width: 75%;
    }
}

@media all and (max-width: 450px) {
    .return {
        top: 0;
        left: 5px;
    }

    header {
        margin: 20px 0 25px;
    }

    .card-title {
        font-size: 2.4rem;
    }

    body:not(#home-page) section {
        padding: 20px 30px;
    }

    #article-content {
        padding: 15px;
    }

    #article-content,
    #sources {
        width: 80%;
    }
}
